<!DOCTYPE html> 
<html lang="nl"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Scores verwerken</title>
    
</head>

<body>
    {% include 'navigatie.twig' %} 
 
<h1>Welkom</h1> 
<p> U kan op de pagina 'Score ingeven' de resultaten van uw studenten ingeven. Nadien kan u een overzicht van deze resultaten opvragen via de overzichtstabel.</p>
<p> Vanuit de overzichtstabel kan u een module of student selecteren om enkel de gegevens van uw selectie te zien.</p>

</body>
</html>
