<!DOCTYPE html>
<html lang="nl"> 
<head> 
    <meta charset="UTF-8">
    <title>Ingave punten geslaagd</title>
</head>

<body>
{% include "navigatie.twig" %}

    <h1>Ingave punten</h1>
    
    <p>De score is succesvol opgeslaan.</p>

    <a href="ingavePuntenController.php"> <button>Geef nog een score in</button></a> 

</body>
</html>