    <header>
        <nav>
            <a href="index.php">Home</a> - 
            <a href="ingavePuntenController.php">Score ingeven</a> - 
            <a href="overzichtstabelController.php">Overzichtstabel</a>        
        </nav>
    </header>
